<div class="app-title margin-bottom">
  <b>Pairs Test (Angular)</b>
</div>
<div class="content">
  <form (onSubmit)="calculate()">
    <div class="margin-bottom">
      <input [(ngModel)]="valuesString" name="valuesString" placeholder="Values"/>
    </div>
    <div class="button-container margin-bottom">
      <button
        type="submit"
        class="button"
        (click)="calculate()"
        [disabled]="valuesString === null">CALCULATE</button>
    </div>
  </form>
  <div *ngIf="result" class="result">
    <b>Result: {{result}}</b>
  </div>
</div>
