.app-title {
  margin-top: 50px;
  text-align: center;
}
.app-title, .result {
  font-size: 20px;
}
.content {
  max-width: 480px;
  margin: 0 auto;
}
.button-container, .result {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 15px;
}
